<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center py-5">{{name}}</h1>
            </div>
            <div class="col-md-6 text-center py-5">
                <button type="button" class="btn btn-success px-5">Add Employees</button>
            </div>
            
        </div>
    </div> 
    <div class="col-md-10 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th> Firstname</th>
                    <th>LAstname</th>
                    <th>Email id</th>
                    <th>Mobile no</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1111</td>
                    <td>Surya</td>
                    <td>Kumar</td>
                    <td>suryakumar@gmail.com</td>
                    <td>9075472839</td>
                    <td>14,900</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-warning px-2">Edit</button>
                        </span>
                        
                        <span class="ps-2">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </span>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

