<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center py-5"> {{name}} </h1>
            </div>
            <div class="col-md-6 text-center py-5">
                <button type="button" class="btn btn-success px-5" (click)="addEmployees(content)">Add
                    Employees</button>
            </div>

        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col"> Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email id</th>
                    <th scope="col">Mobile no</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1111</td>
                    <td>Surya</td>
                    <td>Kumar</td>
                    <td>suryakumar@gmail.com</td>
                    <td>9075472839</td>
                    <td>14,900</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-warning px-2">Edit</button>
                        </span>

                        <span class="ps-2">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="eDetails" (ngSubmit)="onSubmit()">
        <div class="card p-5">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-primary-title">Employee Details</h4>
            </div>
            <div class="py-3">
                <label class="form-label">Employee ID</label>
                <input type="text" class="form-control" formcontrolName="eId" id="eId">
                <div *ngIf="submitted && e.eId.errors">
                    <div *ngIf="e.eId.errors.required" class="text-danger">This Field is
                        required
                    </div>
                </div>
            </div>
            <div class="py-3">
                <label class="form-label">Firstname</label>
                <input type="text" class="form-control" id="firstName" formcontrolName="firstName">
                <div *ngIf="submitted && e.firstName.errors" >
                    <div *ngIf="e.firstName.errors.required" class="text-danger">Firstname is required</div>
                </div>
            </div>
            <div class="py-3">
                <label class="form-label">Lastname</label>
                <input type="text" class="form-control" id="lastName" formcontrolName="lastName">
                <div *ngIf="submitted && e.lastName.errors">
                    <div *ngIf="e.lastName.errors.required" class="text-danger">Lastname is required</div>
                </div>
            </div>
            <div class="py-3">
                <label class="form-label">Email ID</label>
                <input type="email" class="form-control" id="emailId" formcontrolName="emailId">
                <div *ngIf="submitted && e.emailId.errors">
                    <div *ngIf="e.emailId.errors.required" class="text-danger">Email Field is required
                        <div *ngIf="e.emailId.errors.emailId" class="text-danger">Email must be valid</div>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <label class="form-label">Mobile no</label>
                <input type="number" class="form-control" id="mobileNo" formcontrolName="mobileNo">
                <div *ngIf="submitted && e.mobileNo.errors">
                    <div *ngIf="e.mobileNo.errors.required" class="text-danger">Mobile no is required</div>
                    <div *ngIf="e.mobileNo.errors.minlength" class="text-danger">Mobile no should be valid</div>
                </div>
            </div>
            <div class="py-3">
                <label class="form-label">Salary</label>
                <input type="number" class="form-control" id="salary" formcontrolName="salary">
                <div *ngIf="submitted && e.salary.errors">
                    <div *ngIf="e.salary.errors.required" class="text-danger">Salary is required</div>
                </div>
            </div>
            <div class="text-end">
                <span class="px-4 pe-0">
                    <button type="submit" class="btn btn-secondary px-3">Add</button>
                </span>
                <span class="px-3 pe-0">
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </span>
            </div>
        </div>
    </form>
</ng-template>