<!-- <form [formGroup]="formArray">
    <h1 class="text-center">
        {{name}}
    </h1>
    <div class="px-5">
        <span class="px-5"><button class="px-5" (click)="addButton()">Add</button></span>
        <div formArrayName="user">
            <div class="card w-50" *ngFor="let user of formArray.controls.user.controls; let i = index"
                formGroupName="i">
                <div class="py-5 px-5">
                    Name <input type="text" formControlName="name">
                    <span class="px-5">
                        <button (click)="removeButton(i)">Remove</button>
                    </span>

                </div>
                <div class="px-5">
                    Designation <input type="text">
                </div>
                <div class="px-5">
                    Skills
                </div>

                <div formArrayName="skills">
                    <div *ngFor="let skill of newSkills(i).controls; let s = index" formGroupName="s">
                        <div>
                            Skills <input type="text" formControlName="skill">
                            <span>
                                <button (click) ="removeSkill(i,s)">Remove Skill</button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="px-5">
                    <button (click) = "addSkill(i)" class="btn btn-success w-25" >Add Skill</button>
                </div>
                
            </div>
        </div>
    </div>
</form>
{{text |uppercase}}
<br>
{{text}}
<br>
{{age | percent}}
<br>
{{age | currency : 'INR'}}
<h2>Enter the number:</h2>
<input type ="number"> -->
<router-outlet></router-outlet>