<form [formGroup]="formArray">
    <h1 class="text-center">
        {{name}}
    </h1>
    <div class="px-5">
        <span class="px-5"><button class="px-5" (click)="addButton()">Add</button></span>
        <div formArrayName="user">
            <div class="card w-50" *ngFor="let user of formArray.controls.user.controls; let i = index"
                formGroupName= "i">
                <div class="py-5 px-5">
                    Name <input type="text">
                    <span class="px-5">
                        <button (click)="removeButton(i)">Remove</button>
                    </span>
                   
                </div>
                <div>
                    Designation <input type="text">
                </div>
                <div>
                    Skills
                </div>
                
            </div>
            <!-- <div formArrayName = "skills">
                <div *ngFor ="let skill of user.controls.skills.controls; let s = index" formGroupName ="s">
                    <div>
                        Skills<input type="text">
                    <span>
                        <button >ADD</button>
                        <button>Delete</button>
                    </span>
                    </div>
                    
                </div>
            </div> -->
        </div>
        
        <!-- <div class="py-5 px-5">
             Name <input type="text"> 

        </div>
        <div *ngFor="let skillset of formArray.get('skills').controls; let i = index" [formGroup]="skillset">
            skill:{{i}}
            <div>
                skillset <input type="text" formControlName="skill">
            </div>
            <button (click)="removeButton(i)">Remove - {{i}}</button>
        </div> -->
    </div>
</form>